body {

	background-color: #88d4e2;


}

footer {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;

}

h1 {
	font-family: 'Rye', cursive;

}

h2, h3 {
	font-family: 'Eczar', serif;

}

.jumbotron {

	background-color: #866e62;

}


#bottom-banner {

	background-image: url("../images/SP_town.jpg");
	height: 300px;
}


#picDiv {

	margin-top: 15px;
	height: 304px;
	width: 304px;
	border: 2px;
	border-color: black;
	border-style: solid;
}

#imgSPC {

	height: 300px;
	width: 300px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: -15px;
	margin-right: -15px;
	background-color: DarkSlateBlue;

}

#btnHint {
	
	padding-right: 35px;
	padding-left: 35px;
}

#msgAlerts {

	padding-bottom: 300px;
}

#msgHint {

	padding-left: 25px;
}